{% extends "base.html" %}
{% block content %}
    <h1>{{ post['title'] }}</h1>
    <p>{{ post['content'] }}</p>

    {% if g.user %}
        <div class="like-btn">
            <button class="like-btn__btn" data-post-id="{{ post['id'] }}" type="button">
                <i class="like-icon fa-solid fa-heart"></i>
                <span class="like_count">{{ post['likes'] }}</span>
            </button>
        </div>
    {% else %}
        <div>
            <i class="fa-solid fa-heart"></i>
            <span class="like_count">{{ post['likes'] }}</span>
        </div>
    {% endif %}

    {% if g.user == post['author_id'] %}
        <a href="{{ url_for('posts.edit', post_id=post["id"]) }}">Редактировать</a>

        <form action="{{ url_for('posts.delete', post_id=post["id"]) }}" method="post">
            <button type="submit">Удалить</button>
        </form>
    {% endif %}
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/likes.js') }}"></script>
{% endblock %}