{% extends "base.html" %}
{% block content %}
<form action="{{url_for('posts.edit', post_id = post.id)}}" method="post">
    <div>
        <label for="title">Название</label>
        <input type="text" name="title" id="title" value="{{post.title}}"/>
    </div>
    <div>
        <label for="content">Содержимое</label>
        <textarea name="content" id="content">{{post.content}}</textarea>
    </div>
    <div>
        <button type="submit">Редактировать</button>
    </div>
</form>
{% endblock %}
